body {
        font-family: Arial, Helvetica, sans-serif;
        background-color:  ;
      }
.header {
        clear: both;

        height: 60px;
      }
.main{
  height: 580px;
}

#footer {
        height: 30px;
        font-size: 12px;
        background-color: #f3f3f3;
      }
* {
        box-sizing: border-box;
      }
.column {
        margin-left: 10px;
        padding: 10px;
        height: 600px;
      }

.topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 10px;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
@@media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
        }
.cancelbtn {
          width: 100%;
        }
      }
img {
        width: 50px;
        border-radius: 50%;
        margin: 5px;
      }
      .link{
        color: #2035bb;
        padding-left: 30%;
      }
.signbtn {
        background-color: : #73A9F1 ;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 25px;
      }
button:hover {
        opacity: 1;
      }
.haih{
   font-size: 12.5px;width: 150px;height: 20px
}