body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efefef;
}

.topnav {
  overflow: hidden;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 60px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.signin {
  float: right;
  padding-right: 80px;
  padding-top: 15px;
}
input[type="search"] {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("/assets/icons/loupe.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

section {
  display: -webkit-flex;
  display: flex;
}

select {
  width: 230px;
  height: 30px;
  margin: 10px 60px;
  border-radius: 20px;
}

nav {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
header {
  display: -webkit-flex;
  display: flex;
}

.one {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.three {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.cards {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  padding: 0;
}

.card {
  border: 1px solid black;
  height: 80px;
  width: 100%;
  border-radius: 20px;
  margin: 20px;
  background-color: white;
}

.companies {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid black;
  margin: 10px;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
